body {
	margin: 0;
	background-image: url("../images/lowpoly.png");
  	background-size: 100%;
  	width: 100%;
}

.frontend {
	position: absolute;
	top: 225px;
	width: 100%;
	color: black;
	text-align: center;
	font-size: 75px;
}

.nackademin {
	position: absolute;
	top: 325px;
	width: 100%; /* varför måste man ha denna när jag satt 'center' nedan? */
	color: black;
	text-align: center;
	font-size: 25px;
}

.year{
	position: absolute;
	top: 375px;
	width: 100%; /* varför måste man ha denna när jag satt 'center' nedan? */
	color: black;
	text-align: center;
	font-size:15px;
}

.navigation{
  	align-items: flex-start;
  	margin: 45px 0 0 45px;
}

.head{
	color: black; 
	margin-right: 25px;
	font-size: 18px;
}

.backinfo{
	position: fixed;
	bottom: 0;
	right: 0;
	text-decoration: none;
}

main{
	display: flex;
	justify-content: space-around;
}

.container{
	background-color: rgba(255,255,255,0.5);
	display: flex;
	margin-top: 150px;
	width: 40%;
	padding: 30px 50px;
	align-items: center;
	flex-direction: column;
}


.uppgifter{
	align-items: center;
	flex-direction: column;
	border-bottom: 2px solid black;
}
.containercv{
	background-color: rgba(255,255,255,0.5);
	margin-top: 150px;
	flex-direction: column;
	padding: 30px 50px;
}

.contact{
}


	