@charset "UTF-8";
@font-face {
  font-family: 'sansitaregular';
  src: url("../Fonts/sansita-regular-webfont.woff2") format("woff2"), url("../Fonts/sansita-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedlight';
  src: url("../Fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../Fonts/robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'arapeyregular';
  src: url("arapey-regular-webfont.woff2") format("woff2"), url("arapey-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

html {
  font-size: 16px;
  height: 100%; }

header {
  background-color: #C1F0DE; }

h1 {
  font-family: "arapeyregular";
  font-size: 5rem;
  margin: 1rem; }

h2 {
  font-family: "roboto_condensedlight";
  font-size: 2rem;
  margin: 0; }

p, time {
  font-family: "roboto_condensedlight";
  font-size: 1.2rem; }

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem; }

nav {
  display: flex;
  justify-content: space-between; }

.nav-text {
  display: flex;
  align-items: center;
  margin: 2rem 3rem; }

.nav-active {
  text-decoration: underline; }

.nav-icon {
  margin: 2rem 3rem; }
  .nav-icon a {
    margin-left: 1rem; }

.main-content {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%; }

.github {
  font-size: 1.2rem;
  text-decoration: underline; }

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 5rem; }

.img-project {
  width: 100%;
  padding: 0.8rem;
  background-color: white;
  display: flex;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.07); }

.box {
  position: relative; }

.hover-box {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: #FFF;
  opacity: 0;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center; }
  .hover-box p {
    margin: 0.5rem 2rem; }
  .hover-box a {
    margin-top: 0.5rem; }
  .hover-box:hover {
    transition: all 0.3s ease-out;
    opacity: 0.95; }

.icon_contact {
  display: flex;
  justify-content: center; }
  .icon_contact a {
    margin: 1rem; }

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45rem;
  border: 1px solid black; }

.box-about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .box-about img {
    max-width: 40rem; }

.about-icons {
  flex-direction: row;
  padding: 0 0 1rem 0;
  width: 100%; }

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #DEDEDF;
  height: 5rem;
  width: 5rem;
  margin: 1rem; }

.about-text {
  min-height: 20rem;
  padding: 0 2rem; }

.frontend {
  margin: 5rem 15rem; }

.climbing-img, .anchor-img {
  width: 2.5rem; }

.anvil-img {
  width: 3rem;
  padding-top: 0.5rem; }

.info {
  display: none; }

.visible {
  display: inline-block; }

.pressed {
  border: 2px solid #e3bec6; }

.projekt-info {
  margin: auto;
  width: 45%;
  padding: 1rem 2rem;
  border: 0.8rem solid white;
  border-top: none; }

.center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.white-space {
  height: 0.8rem; }

/************************************/
.background {
  background-color: #DEDEDF; }

.timeline ul {
  margin-top: 0; }

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0.8rem;
  margin: 0 auto;
  padding-top: 2rem;
  background: #fff; }

/*cirklarna på tidslinjen*/
.timeline ul li::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background: inherit; }

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 18rem; }

.timeline ul li:nth-child(odd) div {
  left: 4rem; }

.timeline ul li:nth-child(even) div section {
  left: -21rem; }

.timeline ul li:nth-child(even) div time {
  margin-left: -7rem; }

/* Små skärmar */
@media screen and (max-width: 680px) {
  nav {
    flex-direction: column;
    justify-content: center; }
  .nav-icon {
    margin: auto auto 1rem auto; }
  .fa-3x {
    font-size: 2.5rem; }
  .nav-text {
    margin: 1rem auto; }
  h2 {
    font-size: 1.5rem; }
  .icon-img {
    width: 2.5rem; }
  .row {
    width: 85%; }
  .box-about {
    width: 100%; }
  .icon {
    margin: auto;
    height: 4rem;
    width: 4rem;
    padding: 1rem; }
  .timeline {
    align-items: center; }
  .timeline ul li {
    margin: 0;
    width: 0.5rem; }
  .timeline ul li:nth-child(even) div section {
    left: 2rem; }
  .timeline ul li:nth-child(even) div time {
    margin-left: 2rem; }
  .timeline ul li:nth-child(odd) div {
    left: 2rem; }
  .background {
    flex-direction: column; }
  .projekt-info {
    width: 85%;
    text-align: center; }
  .img-project {
    padding: 0.7rem; }
  .projekt-info {
    border: 0.5rem solid white;
    border-top: none;
    text-align: center;
    margin-left: 2.5rem; }
  .about-text {
    min-height: 20rem;
    padding: 0 1rem; }
  figure {
    margin: 1rem; } }
