@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../Fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../Fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thinregular';
    src: url('../Fonts/thin_line_font-webfont.woff2') format('woff2'),
         url('../Fonts/thin_line_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$paragraf-font: 'roboto_condensedlight';
$heading-font: 'thinregular';

$primary-color: #E1D9D1;


*{
	box-sizing: border-box;
}

html, body{
	font-size: 16px;
  	width: 100%;
  	height: 100%;
  	margin: 0 auto;
  	background-color: $primary-color;
  	font-family: $paragraf-font
}

p, time{
	font-size: 1.2rem; 
}

h2{
	font-size: 2rem;
}

a{
	color: black;
	text-decoration: none;
}

nav{
	display: flex;
	justify-content: space-between;
}

#colordiv{
	height: 0.8rem;
	transition: background-color ease 2s;
}

.nav-text{
	font-family: $heading-font;
	display: flex;
	align-items: center;
	margin: 1rem 3rem; 
	a{
		font-size: 1.5rem;
		margin-right: 4rem;
	}
}

.nav-active{
	text-decoration: underline;
}

.nav-icon{
	margin: 2rem 3rem;
	a{
		font-size: 1.5rem;
		margin-left: 1rem;
		text-decoration: none;
	} 
}

.main-content{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 80%;
	width: 100%;
}


/* Hem */

.front{
	font-family: $heading-font;
	font-size: 10rem; 
	margin: 0;
}

.pres{
	font-size: 1.5rem; 
	letter-spacing: 1.5px;
	margin: 1rem;
}


/* Projekt */

.center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projekt-info{
	margin: auto;
	width: 45%;
	padding: 2rem;
	border: 0.5rem solid white;
	p{
		margin: 0;
	}
	a{
		font-size: 1.2rem;
		text-decoration: underline;
	}
}

.img-project{
	width: 100%;
	padding: 0.5rem;
	background-color: white;
	display: flex;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.07);
}

.box{
	position: relative;
}

.hover-box {
	position: absolute;
	top: 0rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	background: #FFF;
	opacity: 0;
	transition: all 0.5s ease-in;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	text-align: center;
	p{
		margin: 0.5rem 2rem;
	}
	a{
		margin-top: 0.5rem;
		font-family: $paragraf-font;
		font-size: 1.2rem;
		text-decoration: underline;
	}
	&:hover {
		transition: all 0.3s ease-out;
		opacity: 0.95;
	}	
}

/*Timeline*/

.background{
	background-color: #E1D9D1;
}

.timeline ul{
	margin-top: 0;
	padding: 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0.5rem;
  margin: 0 auto;
  padding-top: 2rem;
  background: #fff;
}
 
/*cirklarna på tidslinjen*/ 
.timeline ul li::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 18rem;
}

.timeline ul li:nth-child(odd) div {
  left: 4rem;
}
 
.timeline ul li:nth-child(even) div section{
  left: -21.5rem;
}
 
.timeline ul li:nth-child(even) div time{
  	margin-left: -7.5rem;
}


/* Om mig */

.row{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45rem;
	border: 0.5rem solid white,
}

.box-about{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.about-icons{
	flex-direction: row;
	padding: 0 0 1rem 0;
	width: 100%;
}

.icon{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	margin: 1rem;
	&:hover{
		background-color: rgba(255, 255, 255, 0.5);
	}
}

.about-text{
	min-height: 15rem;
	padding: 0 2rem;
}

.frontend{
	margin: 5rem 15rem;
}

.climbing-img, .anchor-img{
	width: 2.5rem;
}

.anvil-img{
	width: 3rem;
	padding-top: 0.5rem;
}

.fa{
	font-size: 2.5rem;
}

.info {
  display: none; 
  a{
  	text-decoration: underline;
  }
}

.visible {
  display: inline-block;
}

.pressed{
	background-color: rgba(255, 255, 255, 0.5);
}



/* Små skärmar */ 
@media screen and (max-width: 680px){

	nav{
		justify-content: center;
	}

	.nav-icon{
		margin: auto auto 1rem auto;
	}

	.fa-2x{
    	font-size: 2rem;
    }	

	.nav-text{
		margin: auto;
		a{
			margin: 1rem;
		}
	}

	.front{
		font-size: 8rem; 
	}

	.pres{
		font-size: 1.2rem; 
	}

	h2{
		font-size: 1.5rem;
	}

	.icon-img{
		width: 2.5rem;
	}

	.row{
		width: 85%;
	}

	.box-about{
		width: 100%;
	}

	.icon{
		margin: auto;
		height: 4rem;
		width: 4rem;
		padding:1rem;
	}


	.timeline{
		margin-top: 4rem;
	}

	.timeline ul li{
		margin-left: 1rem;
		width: 0.5rem;
	}

	.timeline ul li:nth-child(even) div section{
  		left: 2rem;
	}

	.timeline ul li:nth-child(even) div time{
  		margin-left: 2rem;
	}

	.timeline ul li:nth-child(odd) div {
  		left: 2rem;
	}

	.background{
		flex-direction: column;
	}

	.img-project{
		padding: 0.7rem;
	}	

	.projekt-info{
		border: 0.5rem solid white;
		width: auto;
		text-align: center;
		margin: auto 1rem ;
	}

	.about-text{
		min-height: 20rem;
		padding: 0 1rem;
	}

	.climbing-img, .anchor-img{
		width: 2rem;
	}

	.anvil-img{
		width: 2.2rem;
		padding-top: 0.5rem;
	}

	figure{
		margin: 1rem;
	}
}











