<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ninas portfolio</title>
	<script src="https://use.fontawesome.com/aa9919c7e7.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<header>
		<nav>
			<section class="nav-text">
				<a href="../index.html"">Home</a> 
				<figure>|</figure>
				<a href="projekt.html">Projekt</a> 
				<figure>|</figure>
				<a href="about.html">Om mig</a> 	
			</section>
			<section class="nav-icon">
				<a href="https://github.com/ninasjoberg" target="_blank">
					<span class="fa fa-github fa-3x" aria-hidden="true"></span>
				</a>
				<a href="https://www.linkedin.com/in/nina-sj%C3%B6berg-9aa71b22/" target="_blank">
					<span class="fa fa-linkedin-square fa-3x" aria-hidden="true"></span>
				</a>
			</section>
		</nav>
	</header>
	<section class="main-content">
		<h1>Om mig</h1>
		<article class="about-section">
			<p>Mitt namn är Nina, jag är en kreativ person som älskar att skapa och bygga saker vilket jag verkligen får utlopp för under denna utbildning och förhoppningsvis i framtida jobb. Jag upptäckte utveckling rätt sent men känner att det passar mig perfekt. 
			<br>	
			Förutom att programmera ägnar jag min tid åt silversmide och klättring. Jag gillar även att segla, åka snowboard och plantera i min trädgård. 
			</p>
			<section class="icon_contact">
				<a href="https://github.com/ninasjoberg" target="_blank">
					<span class="fa fa-github fa-2x" aria-hidden="true"></span>
				</a>
				<a href="https://www.linkedin.com/in/nina-sj%C3%B6berg-9aa71b22/" target="_blank">
					<span class="fa fa-linkedin-square fa-2x" aria-hidden="true"></span>
				</a>
			</section>
		</article>
	</section>	

</body>
</html>