<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>frontend by Nina</title>
	<script src="https://use.fontawesome.com/aa9919c7e7.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<div id="colordiv"></div>
	<header>
		<nav>
			<section class="nav-text">
				<a href="../index.html"">Hem</a> 
				<a href="projekt.html">Projekt</a> 
				<a href="about.html" class="nav-active">Om mig</a> 	
			</section>
			<section class="nav-icon">
				<a href="https://github.com/ninasjoberg" target="_blank">
					<span class="fa fa-github fa-2x" aria-hidden="true"></span>
				</a>
				<a href="https://www.linkedin.com/in/nina-sj%C3%B6berg-9aa71b22/" target="_blank">
					<span class="fa fa-linkedin-square fa-2x" aria-hidden="true"></span>
				</a>
			</section>
		</nav>
	</header>
	<section class="main-content">
		<div class="row">
			<section class="box-about about-text">
				<div class="info visible" id="laptop">
					<h2>Frontend-utvecklare</h2>
					<p>Jag pluggar till Frontendutvecklare på Nackademin, ht16 - vt18. Jag kom in på banan rätt sent men det känns helt rätt för mig. Jag är kreativ och älskar att bygga och skapa saker, jag gillar också problemlösning vilket jag verkligen får utlopp för inom frontend.</p>
				</div>
				<div class="info" id="silver">
					<h2>Hobbysmed</h2>
					<p>Jag har en egen silversmidesverkstad hemma. Efter en kurs jag gick i silversmide för två år sedan blev jag helt fast. Idag tillverkar och säljer jag mina egna smycken i min webshop: 
						<a href="http://bellpepper.se/" target="_blank">bellpepper.se</a>
					</p>
				</div>
				<div class="info" id="climbing">
					<h2>Klättrare</h2>
					<p>Jag klättrar, ganska ofta. Dock inte ute eller med rep, jag håller till inne i klätterhallen på boulderväggarna. Bouldering tycker jag är en perfekt kombo av att få användå kroppen, bli stark och klura ut och testa nya lösningar för att nå målet. Det är också rätt så socialt. </p>
				</div>
				<div class="info" id="planting">
					<h2>Odlare</h2>
					<p>Jag gillar att odla sådant man kan äta! Jag tycker även om att plantera snygga blommor i min trädgård.</p>
				</div>
				<div class="info" id="sailing">
					<h2>Seglare</h2>
					<p>Jag älskar att vara ute i skärgården, där känner jag frihet och lugn. Jag har en segelbåt som är liten och trång men den har tagit med mig på många äventyr i Östersjön.</p>
				</div>
			</section>
			<section class="box-about about-icons">
				<a href="#" class="icon laptop pressed">
					<span class="fa fa-laptop fa-2x" aria-hidden="true"></span>
				</a>	
				<a href="#" class="icon silver">
					<img class="anvil-img icon-img" src="../img/anvil.svg">
				</a>	
				<a href="#" class="icon climbing">
					<img class="climbing-img icon-img" src="../img/climbing.ico">
				</a>
				<a href="#" class="icon planting">	
					<span class="fa fa-pagelines fa-2x" aria-hidden="true"></span>
				</a>
				<a href="#" class="icon sailing">
					<img class="anchor-img icon-img" src="../img/anchor.svg">
				</a>
			</section>	
		</div>	
	</section>	
	<script type="text/javascript" src="../main.js"></script>

</body>
</html>