<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>frontend by Nina</title>
	<script src="https://use.fontawesome.com/aa9919c7e7.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<header>
		<nav>
			<section class="nav-text">
				<a href="../index.html"">Home</a> 
				<figure>|</figure>
				<a href="projekt.html">Projekt</a> 
				<figure>|</figure>
				<a href="about.html">Om mig</a> 	
			</section>
			<section class="nav-icon">
				<a href="https://github.com/ninasjoberg" target="_blank">
					<span class="fa fa-github fa-3x" aria-hidden="true"></span>
				</a>
				<a href="https://www.linkedin.com/in/nina-sj%C3%B6berg-9aa71b22/" target="_blank">
					<span class="fa fa-linkedin-square fa-3x" aria-hidden="true"></span>
				</a>
			</section>
		</nav>
	</header>
	<section class="main-content">
		<h1>Mina projekt</h1>
		<article class="projects">
			<section class="box" onclick="">
				<img class="img-project" src="../img/vanilla_webdesign.jpg">
				<div class="hover-box">
					<p>Kurs: HTML & Css</p>
					<p>"Ska en websida för er egna fiktiva webbyrå."</p>
					<a href="https://milliampere.github.io/vanilla/" target="_blank">Länk till sidan > </a>
				</div>		
			</section>
			<section class="box" onclick="">
				<img class="img-project" src="../img/plantify.jpg">
				<div class="hover-box">
					<p>Kurs: HTML & Css</p>
					<p>"Skapa en webbsida för fiktiva företaget Plantify"</p>
					<a href="https://ninasjoberg.github.io/Plantify/" target="_blank">Länk till sidan > </a>
				</div>	
			</section>	
			<section class="box" onclick="">
				<img class="img-project" src="../img/todo_list.jpg">
				<div class="hover-box">
					<p>Kurs: JavaScript 1</p>
					<p>"Skapa en ToDo-app i Vanilla JS"</p>
					<a href="https://ninasjoberg.github.io/ToDo-List/" target="_blank">Länk till sidan > </a>
				</div>	
			</section>
			<section class="box" onclick="">
				<img class="img-project" src="../img/middagstips.jpg">
				<div class="hover-box">
					<p>Kurs: JavaScript 1</p>
					<p>"Skapa en sida som genererar recept i Vanilla JS"</p>
					<a href="https://ninasjoberg.github.io/Middagstips/" target="_blank">Länk till sidan > </a>
				</div>	
			</section>
		</article>
		<section>
			<P>För mer info om projekten, läs Readme:n och koden för varje projekt på min
				<a href="https://github.com/ninasjoberg" target="_blank">Github</a>
			</P>	
		</section>

	</section>	

</body>
</html>