<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>frontend by Nina</title>
	<script src="https://use.fontawesome.com/aa9919c7e7.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<div id="colordiv"></div>
	<header>
		<nav>
			<section class="nav-text">
				<a href="../index.html"">Hem</a> 
				<a href="projekt.html" class="nav-active">Projekt</a> 
				<a href="about.html">Om mig</a> 	
			</section>
			<section class="nav-icon">
				<a href="https://github.com/ninasjoberg" target="_blank">
					<span class="fa fa-github fa-2x" aria-hidden="true"></span>
				</a>
				<a href="https://www.linkedin.com/in/nina-sj%C3%B6berg-9aa71b22/" target="_blank">
					<span class="fa fa-linkedin-square fa-2x" aria-hidden="true"></span>
				</a>
			</section>
		</nav>
	</header>
	<section class="background">
		<section class="timeline" class="center">
			<aside class="projekt-info">
				<p>Här lägger jag upp de projekt jag gör under utbildningen. Projekten är gjorda i olika kurser och fokus har legat på olika saker. Klicka på bilderna för att se själva sidan/appen. För att se mer info om projekten läs Readme:n och koden på min 
				<a href="https://github.com/ninasjoberg" target="_blank">Github</a></p>
			</aside>	
			<ul>
				<li>
					<div>
						<time>mar 2017</time>
						<section class="box" onclick="">
							<img class="img-project" src="../img/openapi.jpg">
							<figure class="hover-box">
								<p>Kurs: JavaScript 2</p>
								<p>"Skapa en applikation som hämtar data från öppna API:er. Fokus på Ajax och designmönster. Vanilla JS"</p>
								<a href="http://openapi.surge.sh/" target="_blank">Länk till sidan</a>
							</figure>		
						</section>
					</div>
				</li>
				<li>
					<div>
						<time>feb 2017</time>
						<section class="box" onclick="">
							<img class="img-project" src="../img/moviedb.jpg">
							<figure class="hover-box">
								<p>Kurs: JavaScript 2</p>
								<p>"Skapa en applikation som är en filmdatabas. Fokus på designmönster, Vanilla JS"</p>
								<a href="https://ninasjoberg.github.io/MovieDatabase/" target="_blank">Länk till sidan </a>
							</figure>		
						</section>
					</div>
				</li>
				<li>
					<div>
						<time>jan 2017</time>
						<section class="box" onclick="">
							<img class="img-project" src="../img/vanilla.jpg">
							<figure class="hover-box">
								<p>Kurs: HTML & Css</p>
								<p>"Ska en websida för er egna fiktiva webbyrå. Fokus på responsivitet"</p>
								<a href="https://ninasjoberg.github.io/vanilla/" target="_blank">Länk till sidan</a>
							</figure>		
						</section>
					</div>
				</li>
				<li>
					<div>
						<time>nov 2016</time>
						<section class="box" onclick="">
							<img class="img-project" src="../img/plantify.jpg">
							<figure class="hover-box">
								<p>Kurs: HTML & Css</p>
								<p>"Skapa en enkel webbsida för fiktiva företaget Plantify"</p>
								<a href="https://ninasjoberg.github.io/Plantify/" target="_blank">Länk till sidan</a>
							</figure>	
						</section>	
					</div>
				</li>
				<li>
					<div>
						<time>okt 2016</time>
						<section class="box" onclick="">
							<img class="img-project" src="../img/todo_list.jpg">
							<figure class="hover-box">
								<p>Kurs: JavaScript 1</p>
								<p>"Skapa en ToDo-app i Vanilla JS"</p>
								<a href="https://ninasjoberg.github.io/ToDo-List/" target="_blank">Länk till sidan</a>
							</figure>	
						</section>
					</div>
				</li>
				<li>
					<div>
						<time>okt 2016</time>
						<section class="box" onclick="">
							<img class="img-project" src="../img/middagstips.jpg">
							<figure class="hover-box">
								<p>Kurs: JavaScript 1</p>
								<p>"Skapa en sida som genererar recept i Vanilla JS"</p>
								<a href="https://ninasjoberg.github.io/Middagstips/" target="_blank">Länk till sidan</a>
							</figure>	
						</section>
					</div>
				</li>
				<li>
					<div>
						<time>sep 2016 - utbildningsstart</time>
					</div>
				</li>
			</ul>
		</section>
		<script type="text/javascript" src="../main.js"></script>
</body>
</html>